.header{
    background: url(../img/main-bg.jpg) center (center / cover) no-repeat;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    &__menu{
        z-index: 3;
        display: inline-block;
        background-color: rgba($color: black, $alpha: .7);
        padding: 20px 0;
        height: 100vh;
        width: 30%;
        text-align: right;
        position: absolute;
        left: -30%;
        transition: left .5s linear;
        nav{
            margin-top: 30px;
        }
        a{
            font-size: 22px;
            position: relative;
            transition: color .2s linear;
            &::after{
                content: '';
                height: 100%;
                width: 2px;
                background-color: white;
                position: absolute;
                right: -25px;
                transition: all .2s linear;
            }
        }
        li{
            overflow: hidden;
            padding: 5px 20px;
            cursor: pointer;
            transition: all .2s linear;
            &:hover{
                transform: translateX(5px);
                a{
                    color: #00a1ff;
                    &::after{
                        right: -14px;
                    }
                }
            }
            
        }
        &.active{
            left: 0;
        }
    }
    &__logo{
        max-width: 150px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    &__burger{
        width: 50px;
        height: 40px;
        position: absolute;
        right: -60px;
        top: 20px;
        overflow: hidden;
        cursor: pointer;
        transition: all .5s linear;
        span{
            height: 2px;
            width: 100%;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all .3s linear;
        }
        &::before,
        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: white;
            position: absolute;
            left: 0;
            transition: all .3s linear;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        &.active{
            right: 10px;
            span{
                top: 110%;
            }
            &::before{
                transform: rotate(45deg);
                top: 19px;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 19px;
            }
        }
    }
    &__content{
        top: 0;
        left: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__card{
        position: relative;
        width: 250px;
        background: url(../img/bg-cards.jpg) center (center / cover) no-repeat;
        cursor: pointer;
        transform: skew(10deg);
        transition: all .3s linear;
        text-align: center;
        color: white;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        &:hover{
            transform: skew(10deg) translateY(-20px);
            box-shadow: 7px 7px 30px 0px rgba(51, 50, 50, 0.75);
        }
    }
    &__card+&__card{
        margin-left: 10px;
    }
    &__cards{
        display: flex;
        justify-content: center;
    }
    &__info{
        text-transform: uppercase;
        color: white;
        margin-top: 15px;
        font-size: 30px;
    }
    &__subtitle{
        font-size: 20px;
        margin-top: 15px;
    }
    &__text{
        font-size: 16px;
        line-height: 1.2;
        margin-top: 15px;
        flex: 1 1 auto;
        color: black;
        background-color: rgba($color: white, $alpha: .3);
        padding: 10px 0;
    }
    &__btn{
        text-transform: uppercase;
        font-weight: 800;
        padding: 10px;
        margin-top: 10px;
        background: rgb(134,78,175);
        background: linear-gradient(90deg, rgba(134,78,175,1) 0%, rgba(142,139,184,1) 100%);
        transition: all .3s linear;
        &:hover{
            transform: translateY(-5px);
            background: rgb(142,139,184);
            background: linear-gradient(90deg, rgba(142,139,184,1) 0%, rgba(134,62,175,1) 100%);
        }
    }
}