.header{
    background: url(../img/main-bg.jpg) center (center / cover) no-repeat;
    min-height: 100vh;
    &__menu{
        display: inline-block;
        background-color: rgba($color: black, $alpha: .7);
        padding: 20px 0;
        height: 100vh;
        width: 30%;
        text-align: right;
        overflow: auto;
        position: relative;
        left: -30%;
        transition: left .5s linear;
        nav{
            margin-top: 30px;
        }
        a{
            font-size: 22px;
            position: relative;
            transition: color .2s linear;
            &::after{
                content: '';
                height: 100%;
                width: 2px;
                background-color: white;
                position: absolute;
                right: -25px;
                transition: all .2s linear;
            }
        }
        li{
            overflow: hidden;
            padding: 5px 20px;
            cursor: pointer;
            transition: all .2s linear;
            &:hover{
                transform: translateX(5px);
                a{
                    color: #00a1ff;
                    &::after{
                        right: -14px;
                    }
                }
            }
            
        }
        &.active{
            left: 0;
        }
    }
    &__logo{
        max-width: 150px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    &__burger{
        width: 50px;
        height: 40px;
        position: absolute;
        left: 10px;
        top: 10px;
        overflow: hidden;
        cursor: pointer;
        span{
            height: 2px;
            width: 100%;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all .3s linear;
        }
        &::before,
        &::after{
            content: '';
            width: 100%;
            height: 2px;
            background-color: white;
            position: absolute;
            left: 0;
            transition: all .3s linear;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        &.active{
            span{
                top: 110%;
            }
            &::before{
                transform: rotate(45deg);
                top: 19px;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 19px;
            }
        }
    }
}